.AppList{
    padding:92px 16px 16px 16px;
    background-color: #f5f5f5;
    min-height: 100vh;
}
.ListTitle{
    margin-bottom:16px;
    font-weight:700;
    font-size: 16px;
    line-height: 24px;
}